backports.functools-lru-cache==1.6.1
beautifulsoup4==4.9.0
configobj==5.0.6
dnspython==1.16.0
Flask==1.1.2
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
Markdown==2.6.9
MarkupSafe==1.1.1
pycairo==1.16.2
pygobject==3.26.1
pymongo==3.10.1
pyparted==3.11.1
python-apt==1.6.3
ttystatus==0.38
Werkzeug==1.0.1
